#extra-infor{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 10vw;
}

#extra-infor img{
    width: 100%;
    max-width: 80%;
    align-self: flex-start;
}

#extra-infor figure{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
    flex-basis: 50%;
    gap: 10px;
}

#extra-infor figure:first-child{
    margin-left: 10%;
}


#extra-infor figcaption{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#extra-infor p{
    font-size: 1.2vw;
    margin-right: 20%;

}

#extra-infor figure:first-child p{
    margin-left: 5%;
}

#extra-infor figure h1{
    font-size: 2.5vw;
    align-self: flex-start;
    color:  rgb(17, 27, 117);
    font-weight: bolder;
}

#extra-infor figure:first-child h1{
    margin-left: 5%;
}