footer {
    background-image: linear-gradient(to right, #136a8a, #267871);
    display: flex;
    flex-direction: column;
    position: relative;
    color: #FFE4E1;
    padding: 2%;
    height: 40vw;
}

footer a {
    color: #FFE4E1;
}

#footer_infor {
    display: flex;
    flex: 5;

}

#media-infor {
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 1%;

}

.follow-us  p {
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
    font-size: 1.2vw;
}

.follow-us {
    display: flex;
    gap: 15%;
}

#index {
    flex: 5;
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 3%;
}

#index ul {
    line-height: 2.2em;
    font-size: 1vw;
}

#index ul li:first-child {
    font-weight: bolder;
    font-size: 1.4vw;
}

#index ul li a:hover {
    text-decoration: underline;
}

#media div {
    display: flex;
    margin-top: 5%;
    margin-bottom: 15%;
}

#media div:last-child{
    margin-bottom: 0;
}

#media p {
    margin: 0 3% 10%;
    font-size: 1.2vw;
}

#media a {
    font-size: 1.2vw;
}

#media a:hover {
    text-decoration: underline;
}

#media p:first-child {
    font-weight: bold;
    font-size: 1.2vw;
}

#media i {
    margin-right: 15%;
    font-size: 1.2vw;

}

#media .fa-facebook-f {
    padding-right: 5%;
}

#term {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    flex: 1;
}

#term p {
    margin-top: 2%;
    font-family: 'Abel', sans-serif;
    font-size: 1.2vw;
}


#map {
    width: 80%;
    height: 80%;
    margin-bottom: 5%;
}

