@media only screen and (max-width: 1200px){
    #main_header{
        height: 450px;
    }

    #welcome{
        top: 30%;
    }

    #hero-link {
        bottom: 25%;
    }
}


@media only screen and (max-width: 1100px){
    #main_header{
        height: 450px;
    }

    #welcome{
        top: 30%;
    }

    #hero-link {
        bottom: 30%;
    }
}



@media only screen and (max-width: 1000px){
    #main_header{
        height: 400px;
    }

    #welcome{
        top: 35%;
    }

    #hero-link {
        bottom: 25%;
    }
}

@media only screen and (max-width: 900px){
    #main_header{
        height: 350px;
    }

    #welcome{
        top: 35%;
    }

    #hero-link {
        bottom: 30%;
    }
}

@media only screen and (max-width: 800px){
    #main_header{
        height: 300px;
    }

    #welcome{
        top: 35%;
    }

    #hero-link {
        bottom: 25%;
    }
}


@media only screen and (max-width: 700px){
    #main_header{
        height: 250px;
    }


    #welcome{
        top: 35%;
    }

    #hero-link {
        bottom: 25%;
    }
}


@media only screen and (max-width: 600px){
    #main_header{
        height: 200px;

    }

    #welcome{
        top: 35%;
    }

    #hero-link {
        bottom: 25%;
    }
}


@media only screen and (max-width: 499px){
   
    #main_header{
        height: 150px;
    }

    #div_a a{
        font-size: 70%;
    }

    #close_icon i {
        font-size: 120%;
    }

    #welcome{
        top: 35%;
    }

    #welcome h1{
        box-shadow: none;
    }

    #hero-link {
        bottom: 30%;
    }

    #hero-link a:hover {
        transform: translateY(-3px);
        box-shadow: 0 0.7vw 0px rgba(0, 0, 0, 0.8);
        
    }
    
    #back_to_top a::after{
        bottom: 5vw;
    }


}