#nav-mobile-icon{
    position: fixed;
    top: 50%;
    left: -1%;
    padding: 2vw;
    background-color: #330939;
    z-index: 9999999999;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: none;
    opacity: 0.8;
}




#nav-mobile-icon  i{
    color: white;
    width: max-content;
    padding: 0;
    margin: auto;
    font-size: 2.5vw;
    display: block;
    cursor: pointer;
    animation: arrow-move 0.5s linear infinite alternate;
    transition: 1s;
}

@keyframes arrow-move {
    from{
        opacity: 0.1;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(15%);
    }
}



#nav-mobile{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999999999;
    background-color: rgba(0,0,0,0.8) ;
    overflow: auto;

}

.close-nav-mobile i{
    font-size: 7vw;
    color: rgb(212, 208, 208);
    position: relative;
    top: 20%;
    left: 90%;
    cursor: pointer;
}

.close-nav-mobile i:hover{
    color: white;
}

.log-sign {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-bottom: 3%;
}

.log-sign a{
    display: inline-block;
    color: white;
    font-size: 4vw;
    padding: 4%;
    text-align: center;
    border-radius: 10px;
}


.search-mobile{
    
}

.search-mobile button{
    padding: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-mobile button i:hover{
    color: #0ee2f5;
}

.search-mobile input{
    border: none;
    outline: none;
    width: 100%;
    padding: 3%;
}

.nav-mobile-section{
    display: flex;
    flex-direction: column;
}

.nav-mobile-section a{
    display: block;
    text-align: center;
    padding: 3%;
    background-color: #330939;
    color: white;
    font-size: 6vw;
}


.nav-mobile-section a:hover{
    background-color:#8a049c;
}


.sub-menu-mobi{
}

.sub-menu-mobi a{
    background-color: #720059;
}

.sub-menu-mobi a:hover{
    background-color: #af038a;
}