* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

::selection {
    color: white;
    background-color: rgb(17, 27, 117);
}


body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


header li,
#header_logo li {
    display: inline;
}

header{
    position: relative;
    z-index: 10;
}


#header_logo {
    background-image: linear-gradient(to right, #360033, #0b8793);
    display: flex;
    justify-content: flex-end;
    padding: 1.4%;
    font-size: 1.2vw;
    z-index: -1;
}


#header_logo .login {
    color: rgb(155, 155, 155);
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
}

#header_logo a.signup {

    background-repeat: no-repeat;
    background-position: -120px -120px;

    background-image: -webkit-linear-gradient(top left,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: -moz-linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: -o-linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 1) 50%);

    -moz-background-size: 250% 250%;
    background-size: 250% 250%;

    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;
}

#header_logo a.signup:hover {
    background-position: 0px 0px;

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}

#header_logo ul {
    align-self: center;
    flex-basis: 20%;
}

#part_1 {
    position: absolute;
    top: 10%;
    width: 100%;
    max-width: 4%;
    animation: part_1_spin 1s 1s infinite, part_1_appear 1.5s 3s 1 forwards;
    visibility: hidden;
}

@keyframes part_1_spin {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(72deg);
    }

    20% {
        transform: rotate(144deg);
    }

    30% {
        transform: rotate(216deg);
    }

    40% {
        transform: rotate(288deg);
    }

    50% {
        transform: rotate(360deg);
    }

    60% {
        transform: rotate(432deg);
    }

    70% {
        transform: rotate(504deg);
    }

    80% {
        transform: rotate(576deg);
    }

    90% {
        transform: rotate(648deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes part_1_appear {
    0% {
        max-width: 0%;
        visibility: visible;
    }

    10% {
        max-width: 0.5%;
        visibility: visible;
    }

    20% {
        max-width: 1%;
        visibility: visible;
    }

    30% {
        max-width: 1.5%;
        visibility: visible;
    }

    40% {
        max-width: 2%;
        visibility: visible;
    }

    50% {
        max-width: 2.5%;
        visibility: visible;
    }

    60% {
        max-width: 3%;
        visibility: visible;
    }

    70% {
        max-width: 3.5%;
        visibility: visible;
    }

    80% {
        max-width: 4%;
        visibility: visible;
    }

    90% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }

}

@keyframes part_1_move {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(1500px, 0) rotate(72000deg);
        ;
    }
}

@keyframes part_1_appear_again {
    0% {
        transform: translate(-1000px, 0) rotate(0deg);
        visibility: visible;
    }

    100% {
        transform: translate(0, 0) rotate(72000deg);
        visibility: visible;
    }
}

#part_2 {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 100%;
    max-width: 8%;
    height: auto;
}

#image {
    flex-basis: 20%;
}

#header_logo ul a {
    display: inline-block;
    background-color:
        #4B0082;
    color: white;
    text-align: center;
    padding: 5% 7% 5%;
    border-radius: 5px;
    transition-property: background-color;
}


#nav_bar {
    background-image: linear-gradient(to right, #5f2c82, #49a09d);
    font-size: 1.2vw;
}

#nav_bar a {
    display: inline-block;
    color: #FFEBCD;
    padding: 1% 2%;
    text-align: center;
}


#nav_bar a:hover {
    background-color: #9370D8;
    transition: 0.5s;
    color: white;
}

#nav_bar .sub_menu {
    position: relative;
}


#nav_bar .triangle-down{
    font-size: 1.5vw;
    position: absolute;
    bottom: -25%;
    left: 75%;
}


#nav_bar .triangle-up{
    font-size: 1.5vw;
    display: none;
    position: absolute;
    bottom: -20%;
    left: 75%;
}

#nav_bar .sub_menu:hover .triangle-down{
    display: none;
}


#nav_bar .sub_menu:hover .triangle-up{
    display: inline-block;
}


.sub_menu_1 {
    width: 200%;
    display: block;
    position: absolute;
    top: -1000%;
    left: 0;
    background-image: linear-gradient(to right, #5f2c82, #49a09d);
    transition: top 1s;
    z-index: -5;
}

#nav_bar .sub_menu_1 li a {
    display: block;
    white-space: nowrap;
    padding: 5%;
}

.sub_menu:hover .sub_menu_1 {
    transition: top 1s;
    top: 170%;
    z-index: -4;
}



#search_bar {
    flex-basis: 70%;
    display: flex;
    box-sizing: border-box;
}

#search_bar input {
    border: .3vw solid rgba(0, 0, 0, 0);
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 1%;
    background-color: white;
    width: 30%;
    font-size: 1vw;
    order: 1;
}

#search_bar input:focus {
    border-left: .3vw solid #1E90FF;
    border-top: .3vw solid #1E90FF;
    border-bottom: .3vw solid #1E90FF;
}

.fa-search {
    color: #0b8793;
}

button[name="submit"] {
    border: .3vw solid rgba(0, 0, 0, 0);
    border-left: none;
    background-color: white;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    padding: 1%;
    order: 3;
}



button[name="reset"] {
    cursor: pointer;
    padding: 1%;
    display: none;
    color: #00BFFF;
    order: 2;
    background-color: white;
    border: .3vw solid rgba(0, 0, 0, 0);
    border-left: none;
    border-right: none;
}